@model FinalApplication.Models.ForgotPasswordModel


@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;

}




<head>
    <link href="@Url.Content("~/css/ForgotPassword.css")" rel="stylesheet" type="text/css" />

</head>

<div class="container">

    <div class="content">

        <div class="user-details">
            <div class="input-box">

                @if (Model?.EmailSent == true)
                {

                    <div class="row">
                        <div class="col-md-4 offset-4">
                            <div class="alert alert-success" role="alert">
                                <p>
                                    If you are registered with us, <br />
                                    We have sent an email on your registered email Id
                                </p>
                                <br />
                            </div>
                            </div>
                        </div>
                            }
                            else
                            {
                            <p>Forgot your password? No worries you can reset it easily.</p>
                            <br />

                            <form asp-action="ForgotPassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">

                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="button">
                                    <input type="submit" value="Continue" class="btn btn-primary" />
                                </div>
                            </form>
                            }
                            <div>
                                <p>Back to  <a asp-action="Login" asp-controller="Account">Login</a></p>
                            </div>
                        </div>

                    </div>

     </div>
    </div>

